// reescribir variables de boostrap

$rojo:#f34f51;
$verde:#0098ae;
$oscuro:#212121;
$gris:#b5b5b5;
// asignar paleta de colores a BS
$primary:$rojo;
$secondary : $verde;
$dark:$oscuro;


// Tipografía 
$display-font-weight: 900;
$headings-font-weight: 700;

// nav link
$nav-link-padding-x:0;
$nav-link-color:$gris;
$nav-link-hover-color:darken($gris,10%);

// cards
$card-border-color:   transparent;


//Importar bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

